absl-py
annotated-types
asttokens
backcall
cachetools
certifi
charset-normalizer
colorama
contourpy
cycler
decorator
easyocr
executing
filelock
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
idna
imageio
importlib_metadata
importlib_resources
intel-openmp
ipython
jedi
Jinja2
kiwisolver
lazy_loader
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mkl
mpmath
networkx
ninja
numpy
oauthlib
opencv-python
opencv-python-headless
packaging
pandas
parso
pickleshare
Pillow
pillow_heif
prompt_toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pyasn1
pyasn1_modules
pyclipper
pydantic
pydantic_core
Pygments
pyparsing
python-bidi
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scipy
seaborn
sentry-sdk
shapely
six
stack-data
sympy
tbb
tensorboard
tensorboard-data-server
thop
tifffile
torch
torchaudio
torchvision
tqdm
traitlets
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
Werkzeug
zippw